*{
    margin: 10px;
    padding: 5px;
    font-family: Courier New;     
}
.cont, body{
    width:100%;
    height:100vh;
    background-color: #12121f;
    color:white;
    display: flex;
    justify-content: left;
    align-items:center;
}

#ainer{
    background-image: url("https://github.com/ffdiang/Diang_WebDev_Midterm/blob/master/calendar.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

#tb{
    background: transparent;
}
