*{
  font-family:'Palatino';
}
h1{
  font-size: 300%;
  margin-top: -15px;
  margin-bottom: -10px;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;
  border: solid black;
  border-width: 30px;
}
.about{
  font-size: 120%;
  padding:25px;
  text-align: justify;
}
img{
  float:right;
  width:50%;
  padding: 45px;
}
p {
  word-spacing: 2px;
}
.video{
  text-align: center;
  padding: 10px;
}
